@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

*{
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.heading4xl {
    @apply font-bold text-[40px] leading-[48px];
}

.heading3xl {
    @apply font-semibold text-[32px] leading-[40px];
}

.heading2xl {
    @apply font-semibold text-[28px] leading-[32px];
}

.headingXl {
    @apply font-semibold text-[24px] leading-[28px];
}

.headingLg {
    @apply font-semibold text-[20px] leading-[24px];
}

.headingMd {
    @apply font-semibold text-[16px] leading-[24px];
}

.headingSm {
    @apply font-semibold text-[14px] leading-[16px];
}

.headingXs {
    @apply font-semibold text-[12px] leading-[16px];
}

.bodyLg {
    @apply text-[16px] leading-[20px];
}

.bodyLg-medium {
    @apply bodyLg font-medium;
}

.bodyLg-underline {
    @apply bodyLg underline;
}

.bodyMd {
    @apply text-[14px] leading-[20px];
}

.bodyMd-medium {
    @apply font-medium bodyMd;
}

.bodyMd-semibold {
    @apply bodyMd font-semibold;
}

.bodyMd-underline {
    @apply bodyMd underline;
}

.bodySm {
    @apply text-[12px] leading-[16px];
}

.bodySm-medium {
    @apply bodySm font-medium;
}

.bodySm-semibold{
    @apply bodySm font-semibold;
}

.slider {
    @apply w-[100%] h-[100%] bg-[#F5F5F5] rounded-[10px] overflow-hidden;
}


/* html {
    min-width: 100vw;
    margin-left: 0;
    margin-right: 0;
    overflow-x: hidden;
    
  } */

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
*::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  @apply bg-surface-primary-subdued rounded cursor-pointer;
}

*::-webkit-scrollbar-track-piece {
  @apply bg-transparent;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  @apply bg-surface-primary-default;
}


.no-scrollbar-base::-webkit-scrollbar{
    display: none;
}

.no-scrollbar-base{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.no-scrollbar{
    @apply no-scrollbar-base 
}



.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spinner {
    -moz-appearance: textfield;
}

select{
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5 5.5L8.5 10.5L3.5 5.5' stroke='%23111827' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}
